html {
    /* base rem unit's visual size */
    font-size: 10px;
}

body {
    /* reset font */
    font-size: initial;
}

.editor {
    width: 100%;
    height: 100%;
}

.container {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
